<%-include header.ejs%>
<form method="post">
  <p><input type="text" name="title" id="title"></p>
  <p><input type="text" name="content" id="content"></p>
  <p><input type="submit" value="post"></p>
</form>
<%-include footer.ejs%>