<%-include header.ejs%>
   <%  if(user){%>
   User:
    <a href="/users">users</a>
    <a href="/add/user">add user</a>
    <br>
    <br>
    Post:
    <a href="/posts">posts</a>
    <a href="/add/post">new post</a>
    <br>
    <br>
    Search:
    <a href="/search">search</a>
    <br>
    <br>
    Operation:
    <a href="/upload">upload</a>
    <a href="/logout">logout</a>
    <%}else{%>
   <a href="/login">login </a> | 
    <a href="/reg">reg</a>
   <%  } %>
  
   <p><em><%=success%></em></p>
<p></p>    
<%-include footer %>

