<%-include header%>
<form method="post">
  <p>Name | Title:</p>
  <input type="text" name="s" id="s">
  <select name="type" id="">
    <option value="user">user</option>
    <option value="post">post</option>
  </select>
  <input type="submit" value="search">
</form>
<%-include footer%>