<%-include header%>
<%=success%>
<form multipart method="post" enctype="multipart/form-data">
  <input type="file" name="file" id="file">
  <input type="submit" value="upload">
</form>
<%-include footer%>