<%-include header %>
<form method="post">
  <input type="text" name="name" id="">
  <input type="text" name="password" id="">
  <input type="submit" value="login">
</form>
<p><%=error%> </p>
<p><%=success%> </p>
<%-include footer %>